* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}









nav {
  /* background-color: red; */
  position: fixed;
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
}
/* nav h1 {
  font-size: 1.6vw;
} */

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.logo {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.logo {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.logo:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}


.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  font-size: 0.73vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.6vw;
}
.nav-part2 h5 {
  margin-bottom: 1vw;
  /* background-color: red; */
  display: none;
  overflow: hidden;
}
.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  display: inline-block;
}

nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}


#nav-bottom {
  /* background-color: green; */
  background-color: #111;
  width: 79%;
  height: 0vh;
  position: absolute;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #fff;
}







#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 8.5vw;
}
#page1 h1 svg {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #489e58;
}
#page1 p {
  text-align: center;
  font-weight: 500;
  margin-top: 3vh;
}
#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1-something h4 {
  font-weight: 300;
  font-size: 1vw;
  text-transform: lowercase;
  padding: 5px 12px;
  margin-top: 0.5vw;
  border: 1px solid #857575;
  border-radius: 50px;
}
#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}

#moving-div {
  /* background-color: red; */
  position: absolute;
  bottom: 3%;
  white-space: nowrap;
  width: 45%;
  padding: 1.2vw;
  overflow: hidden;
}
#moving-div .move {
  display: inline-block;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#moving-div .move img {
  height: 1.5vw;
  margin: 0 1.2vw;
  filter: grayscale(100%);
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
  
}
#blur-left {
  background-color: red;
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to left, transparent, #111);
}
#blur-right {
  background: linear-gradient(to right, transparent, #111);
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  
}








#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page2-left {
  /* background-color: #444; */
  height: 100%;
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 3vw 0;
}
#page2-left p {
  font-size: 0.8vw;
}
#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.1vw;
}




#page2-right {
  /* background-color: #444; */
  height: 100%;
  width: 45%;
}
.right-elem {
  /* background-color: red; */
  padding-top: 2vw;
  padding-bottom: 5vw;
  position: relative;
  border-bottom: 1px solid #333;
}
.right-elem h1 {
  font-size: 1.4vw;
  font-weight: 400;
}
.right-elem img {
  height : 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;  
  position: absolute;
  opacity: 0;
  scale: 0;
}









#page3 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-center {
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 1vw;
  flex-direction: column;
}
.page3-center .icon {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.3vw;
  border-radius: 50%;
}
.page3-center .icon i {
  color: #000;
  font-size: 2.8vw;
}
.page3-center h5 {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 0.8vw;
  padding: 10px 20px;
  margin-top: 1vw;
  font-weight: 700;
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(20%);
  text-transform: uppercase;
}
.page3-center:hover h5{
  opacity: 1;
  transform: translateY(0);
}
#page3 video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 999;
}








#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-bottom: 13vh;
}
.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}
.sec-right .hover-img {
  height : 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;  
  /* position: absolute; */
  opacity: 0;
  scale: 0;
}



#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5vh 10.5vw;
}
#page5 button {
  background-color: #0ba34e;
  padding: 1vw 2.5vw;
  font-weight: 400;
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  position: sticky;
  top: 15%;
}
#page5-right {
  width: 70%;
  position: relative;
}
#page5-right>p {
  font-size: 2.1vw;
}
#page5-right>p span {
  width: 15vw;
  display: inline-block;
}
#page5-right>span {
  position: absolute;
  top: 3%;
}
#page5-content {
  width: 100%;
  margin-top: 5vh;
  padding: 5vh 0;
}
#page5-content h1 {
  font-size: 3vw;
  font-weight: 500;
}
#page5-content #flex {
  display: flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#page5-content #flex h4{
  border: 1px solid #8a6c6c;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 0.8vw;
}


.page5-elem {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding-top: 3vh;
  padding-bottom: 9vh;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  overflow: hidden;
  border-top: 1px solid #333;
  position: relative;
}
.page5-elem p {
  width: 60%;
  font-size: 0.8vw;
  position: relative;
  z-index: 8;
}
.page5-elem h3 {
  font-size: 1.5vw;
  font-weight: 400;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: relative;
  z-index: 8;
}
.page5-elem i {
  font-size: 1vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: relative;
  z-index: 8;
}
.over {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #222;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page5-elem:hover h3 {
  padding-left: 1vw;
}
.page5-elem:hover i{
  padding-right: 1vw;
}
.page5-elem:hover .over {
  transform: translateY(0);
  opacity: 1;
}
.page5-elem:hover {
  border-top: 2px solid #fff;
}
summary::marker {
  content: "";
}
.uiux, .product {
  border-top: 1px solid #333;
  padding: 3vh 0;
}